.bord_container {
  margin: 20px;
}

.bord_row {
  display: flex;
  position: relative;
  top: 1rem;
  justify-content: space-evenly;
  align-items: center;
}
.square {
  // background: linear-gradient(rgba(230, 16, 59, 0.85), rgb(14, 33, 209));
  background-image: linear-gradient(60deg, rgb(24, 93, 230), rgb(255, 51, 0));
  cursor: pointer;
  margin: 3px;
  border: 1.5px solid rgb(0, 0, 0);
  border-radius: 4px;
  height: 130px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  font-weight: 400;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(29, 224, 39, 0.852);
  color: #fff;
  font-size: 16px;
}

.heading {
  color: yellow;
  font-size: 2.5rem;
}

.player {
  color: #fff;
}
.span {
  color: #fff;
}

.btn {
  padding: 10px 30px;
  border: 0;
  outline: 0;
  background-color: rgb(0, 0, 0);
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.5s;
  margin-top: 15px;
  &:hover {
    background-color: rgba(29, 224, 39, 0.852);
  }
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  flex-direction: column;
  letter-spacing: 2px;
}

@media only screen and (max-width: 720px) {
  .bord_row {
    position: relative;
    top: 4rem;
  }
}
